        <div class="product">
            <div class="product-top">
                <img src="/img/Product/background-top.jpg" alt="jpg">
            </div>
            <div class="product-new reveal">
                <div class="product-new-top">
                    <div class="product-new-top-text">
                        the vert is a collection of nature, <br>
                        made from eco-friendly, <br>
                        non-toxic ingredients. <br>
                    </div>
                    <div class="product-new-top-line"></div>
                </div>
                <div class="product-new-under">
                    <div class="product-new-under-text">new arrivals</div>
                    <div class="product-container">
                        {{#each products}}
                        <div class="product-card">
                            <div class="product-image">
                                <img src="/img/Product/{{this.product_img}}" alt="jpg">
                            </div>
                            <div class="product-card-content">
                                <h3 class="card-content-title">{{this.product_name}}</h3>
                                <p class="card-content-detail">
                                    {{this.product_detail}}
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            
            <div class="product-collection reveal">
                <div class="product-collection-title">our collection</div>
                <div class="collection-container">
                    {{#each collections}}
                    <div class="collection-card d-flex">
                        <div class="collection-image">
                            <img src="/img/Product/{{this.collection_img}}" alt="jpg">
                        </div>
                        <div class="collection-card-content">
                                <div class="collection-title d-flex">
                                    <div class="collection-title-name">
                                        {{this.collection_name}}
                                    </div>
                                    <div class="collection-title-id">
                                        #{{this.collection_id}}
                                    </div>
                                </div>
                                <div class="collection-author mb-3">
                                    By {{this.collection_author}}
                                </div>
                                <p class="collection-detail">
                                    {{this.collection_description}}
                                </p>
                                <div class="collection-release mt-5">RELEASE DATE: {{this.collection_date}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>