<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            font-size: 14px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>{{title}}</div><br>
    <div>{{subtitle}}</div> <br>
    <ul style="font-size: 14px;">
        <li>{{firstname}}</li>
        <li>{{lastname}}</li>
        <li>{{birthday}}</li>
        <li>{{gender}}</li>
        <li>{{email}}</li>
        <li>{{phone_number}}</li>
    </ul><br>
    <div>{{footer}}</div><br>
    <div style="font-style: italic">{{wishes}}</div>
    <div>{{signature}}</div>
</body>
</html>