    <div class="container-catalog">
        <div class="catalog">
            <div class="catalog-top">
                <video src="/img/tuoicay.mp4" muted loop autoplay></video>
                <div class="catalog-top-content">
                    <h2>THE CHILDERN OF FARM</h2>
                    <p>
                        A magical exploration <br>
                        into the interior of Clover
                    </p>
                </div>
            </div>
            <div class="main-content">
                <h1>the angels</h1>
                <hr style="width: 100%; height: 3px; background-color: #005C43; opacity: 1; margin-top: 30px">
            </div>
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="/img/Catalog/coconut.jpg" alt="jpg" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#p1" data-bs-whatever="@getbootstrap">
                    </div>
                    <div class="col-lg-2 mb-3">
                        <img src="/img/Catalog/jackfruit.jpg" alt="jpg" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#p2" data-bs-whatever="@getbootstrap">
                    </div>
                    <div class="col-lg-2 mb-3">
                        <img src="/img/Catalog/mango.jpg" alt="jpg" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#p3" data-bs-whatever="@getbootstrap">
                    </div>
                    <div class="col-1 mb-3"></div>
                    <div class="col-lg-4 mb-3 align-self-center">
                        <div class="row-content-sub">
                            plant
                        </div>
                        <div class="row-content-main">
                            Originated in Persia
                        </div>
                        <div class="row-content-main">
                            Improves health of eyes, skin, hair, growth, and immune system
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-2 mb-3">
                        <img src="/img/Catalog/cow.jpg" alt="jpg" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#p4" data-bs-whatever="@getbootstrap">
                    </div>
                    <div class="col-lg-2 mb-3">
                        <img src="/img/Catalog/goat.jpg" alt="jpg" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#p5" data-bs-whatever="@getbootstrap">
                    </div>
                    <div class="col-lg-3 mb-3">
                        <img src="/img/Catalog/horse.jpg" alt="jpg" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#p6" data-bs-whatever="@getbootstrap">
                        </a>
                    </div>
                    <div class="col-1 mb-3"></div>
                    <div class="col-lg-4 mb-3 align-self-center">
                        <div class="row-content-sub">
                            animal
                        </div>
                        <div class="row-content-main">
                            Originated in Persia
                        </div>
                        <div class="row-content-main">
                            Improves health of eyes, skin, hair, growth, and immune system
                        </div>
                        <div class="row-content-main">
                            Grown year round
                        </div>
                        <div class="row-content-main">
                            60-80 days seed to harvest
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 mb-3">
                        <img src="/img/Catalog/plow.jpg" alt="jpg" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#p7" data-bs-whatever="@getbootstrap">
                    </div>
                    <div class="col-sm-4 mb-3">
                        <img src="/img/Catalog/plane.jpg" alt="jpg" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#p8" data-bs-whatever="@getbootstrap">
                    </div>
                    <div class="col-1 mb-3"></div>
                    <div class="col-lg-4 mb-3 align-self-center">
                        <div class="row-content-sub">
                            product
                        </div>
                        <div class="row-content-main">
                            Originated in Persia
                        </div>
                        <div class="row-content-main">
                            Improves health of eyes, skin, hair, growth, and immune system
                        </div>
                        <div class="row-content-main">
                            Grown year round
                        </div>
                        <div class="row-content-main">
                            60-80 days seed to harvest
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#each catalogs}}
        <div class="modal-db">
            <div class="modal fade" id="{{this.catalog_id}}" tabindex="-1" aria-labelledby="p1-content" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="title">{{this.catalog_name}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="m-content text-center mb-5">
                                    <div class="original fst-italic">{{this.catalog_original}}</div>
                                    <div class="benefit">{{this.catalog_benefit}}</div>
                                    <div class="harvest">{{this.catalog_harvest}}</div>
                                </div>
                                <hr class="my-5"
                                    style="width: 100%; height: 2px; background-color: rgba(0, 0, 0, 0.283); opacity: 1">
                                <div class="plant-img mb-5">
                                    <img src="/img/Catalog/{{this.catalog_img_detail}}" alt="jpg" class="img-fluid">
                                </div>
                                <div class="m-detail">
                                    {{this.catalog_detail}}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>